{% extends 'base.html.twig' %}

{% block title %}Vue{% endblock %}

{% block content %}
    <div id="app">
        <job-list />
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('vue') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('vue') }}
{% endblock %}
