{% extends 'base.html.twig' %}

{% block title %}Vue{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('page') }}
{% endblock %}
